@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Nessa página teremos a principais informaçoes sobre o sistema e teramos a opçao de relizar cadastro ou login
        </h1>
    
</div>
